APP_KEY=
BUILD_DATE=
VCS_REF=
VERSION=0.1.0
HTTP_PORT=8090
APP_URL=http://127.0.0.1:8090
MESHCHATX_DOMAIN=https://meshchatx.com
RELEASES_CACHE_SECONDS=3600
SBOM_CACHE_SECONDS=2592000
RNS_DIRECTORY_CACHE_SECONDS=259200
BUNNY_STORAGE_ZONE=meshchatx
BUNNY_STORAGE_ACCESS_KEY=
BUNNY_STORAGE_ENDPOINT=https://la.storage.bunnycdn.com
BUNNY_CDN_BASE=https://cdn.meshchatx.com
